*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #F8E5C2;
    color:#5B3A29;
    font-family: 'Manrope', sans-serif;
}
html{
    scroll-behavior: smooth;
    scrollbar-color: #5B3A29 #F8E5C2;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
/* Navbar */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
}
.nav-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
    border-radius: 75px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.19);
}
.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.nav-links ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.nav-links li{
    padding: 1rem;
}
.nav-links a{
    font-size: 1.6rem;
    font-weight: 800;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
}
.links{
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    border-radius: 25px;
}
.links:hover{
    color: #F8E5C2;
    background-color: #5B3A29;
    border-radius: 25px;
}
#logo{
    width: 275px;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
#logo:hover{
    transform: scale(1.05);
}
/* Presentation Section */
.first-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    padding-left: 40px;
    padding-right: 40px;

}
.main-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.19);
    padding: 1rem;
}
.main-image{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.main-image img{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border-radius: 25px;
}
.main-content{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 50px;
    padding: 3rem;
}
.main-content h1{
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.main-content p{
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.main-txt{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    padding: 3rem;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.19);
}
button{
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 25px;
    background-color: #5B3A29;
    color: #F8E5C2;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    margin-top: 2rem;

}
button:hover{
    background-color: #F8E5C2;
    color: #5B3A29;
}
/* About Section */