*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #F8E5C2;
    color:#5B3A29;
    font-family: 'Manrope', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
.nav-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}
.nav-links ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.nav-links a{
    font-size: 1.3rem;
    font-weight: 600;
}
#logo{
    width: 200px;
}